*{
    padding: 0;
    margin: 0;
}
body {
    /* background: black; */
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar-container {
    width: 100%;
    height: 5vh;
    background: #2f64ea;
}

